<%= render 'users/host' %>

<div class="col-md-10 user-view">
  <div class="user-view-box">
    <div class="update-content">
      <div class="row">
        <h5>アカウント</h5>
      </div>
    </div>
    <%= form_for @room do |f| %>
    <div class="update-content">
      <div class="row">
        <%= f.label :email, class:  %>
      </div>
    </div>
  </div>
</div>